{% extends "base.html" %}

{% block title %}Dashboard | Smart Attendance{% endblock %}

{% block content %}

<h2 style="text-align:center;">Smart Attendance Dashboard</h2>

<div style="display:flex; justify-content:center; gap:20px; margin-top:40px;">

    <div style="background:white; padding:25px; width:220px; text-align:center;
                border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.2);">
        <h3>Total Students</h3>
        <h1>{{ total_students }}</h1>
    </div>

    <div style="background:white; padding:25px; width:220px; text-align:center;
                border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.2);">
        <h3>Total Attendance</h3>
        <h1>{{ total_attendance }}</h1>
    </div>

    <div style="background:white; padding:25px; width:220px; text-align:center;
                border-radius:10px; box-shadow:0 4px 10px rgba(0,0,0,0.2);">
        <h3>Today's Attendance</h3>
        <h1>{{ today_attendance }}</h1>
    </div>

</div>

<div style="text-align:center; margin-top:30px;">

    <a class="btn btn-primary"
       href="{{ url_for('student.students') }}"
        Manage Students
    </a>

    <a class="btn btn-success"
       href="{{ url_for('attendance.select_period') }}">
        Mark Attendance
    </a>

    <a class="btn btn-primary"
       href="{{ url_for('attendance.attendance_report') }}">
        Attendance Report
    </a>

</div>

{% endblock %}